@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu-bold.eot");
  src: url("../fonts/apercu-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-bold.woff") format("woff"), url("../fonts/apercu-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu-regular.eot");
  src: url("../fonts/apercu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-regular.woff") format("woff"), url("../fonts/apercu-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu-light.eot");
  src: url("../fonts/apercu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-light.woff") format("woff"), url("../fonts/apercu-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

body {
  font-family: apercu; }

header {
  height: calc(445px + 110px) !important;
  background: url("../../img/berthollet.jpg");
  background-position: center top;
  background-size: cover; }

.header-top {
  height: 110px;
  background: white;
  width: 100%;
  position: relative; }
  .header-top .back-button {
    position: absolute;
    left: 30px;
    top: 25px; }
  .header-top .header-top--container {
    width: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 25px; }
    .header-top .header-top--container .header-top--notch {
      background: #930025;
      width: 25%;
      height: 5px;
      margin: auto;
      margin-bottom: 10px; }
    .header-top .header-top--container .header-top--logo {
      width: 100%;
      margin: auto;
      display: block;
      margin-bottom: 15px; }
    .header-top .header-top--container .header-top--title {
      text-align: center;
      font-family: apercu;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 5px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      line-height: 20px;
      margin: 0; }

.hello-form {
  width: 95%;
  max-width: 1000px;
  background: white;
  margin: auto;
  margin-top: -100px;
  padding-top: 40px;
  height: 220px; }
  .hello-form .hello-form--punchline {
    font-size: 2.5em;
    text-align: center;
    font-weight: 300;
    color: #4e4e4e;
    margin: 0 0 30px 0; }
  .hello-form .hello-form--filters-wrapper {
    width: 100%; }
    .hello-form .hello-form--filters-wrapper .hello-form--filters-wrapper--box {
      width: 33.33332%;
      float: left;
      padding: 15px; }
      .hello-form .hello-form--filters-wrapper .hello-form--filters-wrapper--box:first-child {
        padding-left: 30px; }
      .hello-form .hello-form--filters-wrapper .hello-form--filters-wrapper--box:last-child {
        padding-right: 30px; }

.cd-gallery {
  max-width: 95%;
  width: 1000px;
  margin: auto;
  float: none;
  padding: 50px 0; }
  .cd-gallery .card {
    width: 32%;
    height: 363px;
    background: white;
    overflow: auto;
    position: relative; }
    @media screen and (max-width: 800px) {
      .cd-gallery .card {
        width: 49%; } }
    @media screen and (max-width: 500px) {
      .cd-gallery .card {
        width: 100%; } }
    .cd-gallery .card .card-header {
      width: 100%;
      height: 150px;
      background: red;
      background-position: center center !important;
      background-size: cover !important; }
    .cd-gallery .card .card-excerpt {
      padding: 15px; }

.date {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 14px; }

h1 {
  font-family: Apercu;
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  margin: 0; }

.lieu {
  display: block;
  position: absolute;
  bottom: 15px;
  border-top: 1px solid #e8e8e8;
  padding-top: 10px; }

button {
  font-family: apercu !important;
  font-weight: 700 !important; }

.desktop-hidden {
  display: none; }

/*# sourceMappingURL=custom.css.map */