$offset: 187;
$duration: 1.4s;
$letemps-color-1: #930025;
$letemps-color-2: #b80021;
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 400px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 506px) { @content; } // 776
  }

  @else if $class == md {
    @media (max-width: 768px) { @content; }
  }

  @else if $class == lg {
    @media (max-width: 992px) { @content; }
  }

  @else if $class == xl {
    @media (max-width: 1440px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
  }
}
.overlay
{
	position: fixed;
	height: 100%;
	width: 100%;
	background: white;
	z-index: 100;
   display: flex;
   align-items: center;
   justify-content: center;

  .spinner-wrapper
  {
    transform: scale(0.5);
  }

  .spinner
  {
    position: absolute;
    // top: 50%;
    // left: 50%;
    //transform: translate(-50% -50%);
    animation: rotator $duration linear infinite;
    transform: scale(0.5);
  }

  .path
  {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: $letemps-color-1; }
  25% { stroke: $letemps-color-1; }
  50% { stroke: $letemps-color-1; }
  75% { stroke: $letemps-color-1; }
  100% { stroke: $letemps-color-1; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.mixitup-page-list
{
  text-align: center;
  padding: 30px 0 60px 0;

  @include breakpoint(md) {
     padding: 15px 0 30px 0;
  }

  @include breakpoint(md) {
     &.is-pinned {
      /*position: fixed;
      bottom: 0;
      z-index: 10;
      background: white;
      width: 100%;
      padding: 0;*/

      //   @include breakpoint(md) {
      //    max-width: 97%;
      //    padding-bottom: 50px
      // }


    }
  }

  &.mixitup-page-list-disabled
  {
    display: none;
  }

  button
  {
    min-width: 39px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0 2px;

    @include breakpoint(md) {
       margin: 10px 2px;
    }


    &:not(.mixitup-control-active)
    {
      background: gainsboro !important;
      color: black;
    }

    &.mixitup-control-disabled
    {
      background: gainsboro !important;
      box-shadow: none !important;

    }

    &.mixitup-control-active
    {
      background: #930025 !important; // version f100: $color

      color: white;
    }
  }
}

.error-message
{
  width: 1000px;
  max-width: 95%;
  margin: auto;
  text-align: center;
  padding: 30px 0 30px 0;
  margin-bottom: 50px;
  //border: 1px solid $letemps-color-1;
	background: lighten($letemps-color-2, 50%);


  .reset-filters
  {
    background: $letemps-color-1 !important;

    i { margin-top: -2px; }
  }
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, #mc_embed_signup div.mce_inline_error
{
	color: yellow !important;
	display: none!important;
	visibility: hidden !important;
}

.mdl-button--colored
{
  color: $letemps-color-1 !important;
}
