$color: #e36943;
$gray-light: #f2f2f2;
$gray-light-gray-text: #7f8081;

@font-face {
	font-family: 'Apercu';
	src: url('../fonts/apercu-bold.eot');
	src: url('../fonts/apercu-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/apercu-bold.woff') format('woff'),
		url('../fonts/apercu-bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu';
	src: url('../fonts/apercu-regular.eot');
	src: url('../fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/apercu-regular.woff') format('woff'),
		url('../fonts/apercu-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu';
	src: url('../fonts/apercu-light.eot');
	src: url('../fonts/apercu-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/apercu-light.woff') format('woff'),
		url('../fonts/apercu-light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

//prefooter
h4
{
	text-align: center;
	color: $gray-light-gray-text;
	font-size: 24px;
	font-family: 'ratio_light' !important;
	-webkit-font-smoothing: antialiased; 
                -moz-osx-font-smoothing: grayscale; 
                text-rendering: optimizeLegibility;
	//background: red;
	//display: inline-block;
	
	
	&:after
	{


		    
		  //   top: .77em;
    // width: 100%;
    // max-width: 1000px;
    //     border-top: 1px solid #cdcece;
    // content: '';
    // display: block;
    // position: relative;
    // margin: auto;
	}
	
}

//share this page
h6
{
	margin: 0!important;
	display: inline;
}

//search title
.mdl-textfield
{
	// font-family: 'ratio_reg' !important;
}

//input
.mdl-textfield__input
{
	// font-family: 'ratio_reg' !important;
}

//chip
.card-chip
{
	// font-family: 'ratio_reg' !important;
}

.card-title
{
	// font-family: 'Rooney_medium';
}

.card-meta 
{
	// font-family: 'ratio_reg';
}

.card-desc 
{
	// font-family: 'rooney_light'
}

.popup-newsletter--header--title
{
	// font-family: 'ratio_light';
}

.popup-newsletter--body--text
{
	// font-family: 'ratio_reg';

	// xwb { font-family: 'ratio_medium'; }
}

body, input, select, textarea {
	// font-family: _font(family);
	// font-weight: _font(weight);
	// font-size: 1rem;
	// line-height: 2.375;
}

a {
	color: inherit!important;
	text-decoration: none;
}

strong, b {
	// font-weight: _font(weight-bold);
}

em, i {
	// font-style: italic;
}

p {
	
    // margin: 0 0 _size(element-margin) 0;
	
    // 26px
    // rooney
    // normal
    // black
    // 196
}

h1, h2, h3, h4, h5, h6 {
	// font-family: _font(family-heading);
	// font-weight: _font(weight-heading);
	// line-height: 1.5;
	// letter-spacing: 0.075em;
	// text-transform: uppercase;
	// margin: 0 0 (_size(element-margin) * 0.5) 0;

	// a {
	// 	border-bottom: 0;
	// 	color: inherit;
	// 	text-decoration: none;
	// }
}

h1 {
    
	font-size: 4em;
    line-height: 1.1;
    margin: 0;
}

h2 {
	font-size: modular-scale(2);
    line-height: 1.25;
}

h3 {
	font-size: modular-scale(3);
    line-height: 1.25;
}

h4 {
	font-size: modular-scale(4);
    line-height: 1.25;
    
}

h5 {
	font-size: modular-scale(5);
    line-height: 1.25;
}

h6 {
	font-size: modular-scale(6);
    line-height: 1.25;
}

sub {
	// font-size: 0.8rem;
	// position: relative;
	// top: 0.5rem;
}

sup {
	// font-size: 0.8rem;
	// position: relative;
	// top: -0.5rem;
}

blockquote {
	// border-left: solid 4px;
	// font-style: italic;
	// margin: 0 0 _size(element-margin) 0;
	// padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
}

code {
	// border-radius: _size(border-radius);
	// border: solid 2px;
	// font-family: _font(family-fixed);
	// font-size: 0.9rem;
	// margin: 0 0.25rem;
	// padding: 0.25rem 0.65rem;
}

pre {
	// -webkit-overflow-scrolling: touch;
	// font-family: _font(family-fixed);
	// font-size: 0.9rem;
	// margin: 0 0 _size(element-margin) 0;

	code {
		// display: block;
		// line-height: 1.75;
		// padding: 1rem 1.5rem;
		// overflow-x: auto;
	}
}

hr {
	// border: 0;
	// border-bottom: solid 2px;
	// margin: (_size(element-margin) * 1.5) 0;

	// &.major {
	// 	margin: (_size(element-margin) * 2.5) 0;
	// }
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}


