header
{
    background-position: center top !important;
    background-size: cover !important;
}

.header-top 
{  
    height: 110px;
    background: white;
    width: 100%;
    position: relative;

    @include breakpoint(md) {
       height: 60px;
    }  
    
    
    .back-to-letemps
    { 
      .share-this-page--text
      {
        opacity: .5;

        @include breakpoint(md) {
          display: none;
            font-size: 10px;
        }
      }

      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      
       @include breakpoint(md) {
          left: 16px;
      }
      
    }

    .share-this-page
    {
      > span
      {
        opacity: .5;
      }

      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);

      @include breakpoint(md) {
        right: 16px;
        h6 { font-size: 10px; display: none; }
        h6 span{ display: none; }
      }
    }

    .header-top--container   
    {
      width: 200px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 25px;

      @include breakpoint(md) {
        padding-top: 12px;
      } 

      .header-top--logo
      {
          width: 100%;
          margin: auto;
          display: block;
          margin-bottom: 15px;

          @include breakpoint(md) {
             width: 75%;
             margin-bottom: 5px;
          } 
      }

      .header-top--title
      {
        text-align: center;
        font-family: apercu;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;
        -webkit-font-smoothing: antialiased; 
        -moz-osx-font-smoothing: grayscale; 
        text-rendering: optimizeLegibility;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        font-family: 'ratio_reg' !important;

        @include breakpoint(md) {
           font-size: 13px;
          line-height: 13px;
          letter-spacing: 7px;
          transform: translateX(5px);
        } 
      }
    }
}

.header-figures
{
  background: url('../../img/article/berthollet.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 445px;

  @include breakpoint(sm) {
      height: 250px;
  }
}








