.hello-form
{
    width: 95%;
    max-width: 1000px;
    background: white;
    margin: auto;
    margin-top: -100px;
    padding: 40px 30px 0 30px;
    height: 260px;
    margin-bottom: 50px;

    @include breakpoint(sm) {
         padding-top: 20px;
         margin-bottom: 15px;
         height: 225px;
    }

    .hello-form--punchline
    {
        font-size: 2.5em;
        text-align: center;
        font-weight: 300;
        color: #4e4e4e;
        margin: 0 0 20px 0;
        font-family: 'ratio_light' !important;

        @include breakpoint(sm) {
            font-size: 2em;
            padding: 0 16px;
            line-height: 1.333em;
             margin: 0 0 5px 0;
        }
    }

    .hello-form--filters-wrapper 
    {
        width: 100%; 

        .hello-form--filters-wrapper--box
        {
            width: 50%;    
            float: left;

            &.margin-negative-top 
            {
               @include breakpoint(sm) {
                     margin-top: -15px;
                }
                     
            }

            &:nth-child(2n+1)
            { 
                padding-left: 0px;
                //background:red
            }

            &:nth-child(2n+2)
            {
                padding-right: 30px;
            }

            .mdl-textfield
            {
              width: 100%;
             
            }
        }
    }
}